$colorprimario: rgb (0,0,0);


.header,.menu,.menu>li, .menu>li>a, .menu>li>ul>li, h1, h2,p, th, tr, .descriS{
    color:$colorprimario;
    background-color: none;

}
.boton {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.DescriS {
    text-decoration: none;
    color: $colorprimario
}
.descriS:hover{
color:$colorprimario ;
text-decoration: none;

}
.bg-whitelight {
    background-color:#F7F9F9;
 }